.header-page {
  width: 40%;
  height: 120%;
  background-color: #39a900;
  display: flex;
  gap: 10px;
  flex-direction: column;
  color: white;
  align-items: center;  
}
.header-page > img{
  width: 350px;
  border-radius: 50%;
  padding: 10px;
}