.header-page {
  width: 35%;
  height: 120%;
  background-color: #39a900;
  display: flex;
  gap: 15px;
  flex-direction: column;
  color: white;
  align-items: center;  
}
.header-page > img{
  width: 400px;
  border-radius: 50%;
  padding: 10px;
}